API/SchoolFinances/.vs/
API/SchoolFinances/SchoolFinances/obj/
API/SchoolFinances/SchoolFinances.DataAccess/obj/
API/SchoolFinances/SchoolFinances.Domain/obj/
API/SchoolFinances/SchoolFinances/bin/
API/SchoolFinances/SchoolFinances.Domain/bin/
