API/SchoolFinances/.vs/
API/SchoolFinances/SchoolFinances/obj/
API/SchoolFinances/SchoolFinances.DataAccess/obj/
API/SchoolFinances/SchoolFinances.Domain/obj/
API/SchoolFinances/SchoolFinances/bin/
API/SchoolFinances/SchoolFinances.Domain/bin/
API/SchoolFinances/SchoolFinances.Contracts/bin/
API/SchoolFinances/SchoolFinances.Contracts/obj/
API/SchoolFinances/SchoolFinances.Tests/obj/
API/SchoolFinances/SchoolFinances.Tests/bin/
API/SchoolFinances/SchoolFinances.DB/bin/
API/SchoolFinances/SchoolFinances.DB/obj/
