/*
Post-Deployment Script Template							
--------------------------------------------------------------------------------------
 This file contains SQL statements that will be appended to the build script.		
 Use SQLCMD syntax to include a file in the post-deployment script.			
 Example:      :r .\myfile.sql								
 Use SQLCMD syntax to reference a variable in the post-deployment script.		
 Example:      :setvar TableName MyTable							
               SELECT * FROM [$(TableName)]					
--------------------------------------------------------------------------------------
*/

SET IDENTITY_INSERT [dbo].[users] ON

INSERT INTO [dbo].[users] ([user_id], [last_name], [first_name], [user_name], [password], [phone_number], [role], [active]) VALUES (1, N'Аникеева', N'Мария', N'Mary', N'OIU987', N'375295123654', N'user', 1);
INSERT INTO [dbo].[users] ([user_id], [last_name], [first_name], [user_name], [password], [phone_number], [role], [active]) VALUES (2, N'Бобриковa', N'Александра', N'Alex', N'QWS667', N'375295123699', N'user', 1);
INSERT INTO [dbo].[users] ([user_id], [last_name], [first_name], [user_name], [password], [phone_number], [role], [active]) VALUES (3, N'Буд-Гусаим', N'Вадим', N'Vadim', N'Vadim', N'375294588636', N'user', 1);


SET IDENTITY_INSERT [dbo].[users] OFF
